## 03.2018, Jan Hermann, freifunk@jan-hermann.de
##
## Version 1.0
##
## config-File for Monitoring

# json.sh
nos=2 # number of servers | first server = 1

# nslookup.sh
hwAddr=00:11:22:33:44:55 #MAC-Address
prt=23 #define port for nc

# exitIP.sh
wEip=2 #timeout for connects

# ping.sh
cPing=1 #Ping-Count
tout=1 #timeout in s



############
### srv1 ###
############
#name
name1=
#ping

#nslookup.sh

#exitIP.sh

#dhcpCheck.sh

############
### srv2 ###
############
#ping.sh

#nslookup.sh

#exitIP.sh

#dhcpCheck.sh
